/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


/* http://stackoverflow.com/questions/11249768/angularjs-ng-cloak-ng-show-elements-blink
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
table tr a {
    display:block;
    height:100%;
    width:100%;
}


.dress {
    /*margin-left:auto;*/
    /*margin-right:auto;*/
    position:relative;
    margin: auto;
    text-align: center;
    display: block;
    /*margin-left: -100px;*/
    /*margin-right: auto;*/
    /*left:5px;*/
    height: 510px;
    width: 100%;
}

.purchase {
    position:relative;
    text-align: center;
}

.admindress {
    /*margin-left:auto;*/
    /*margin-right:auto;*/
    /*position:absolute;*/
    left:-100px;
    margin: 0 auto;
    text-align: left;
    display: block;
    margin-left: -175px;
    margin-right: auto;
    /*left:5px;*/
    height: 510px;
    width: 100%;
}

.fixed {
    position: fixed;
    /*left:50px;*/
}

.body {
    z-index:0;



    transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    /*background: lightblue;*/
    /*max-height: 50px; *//* 1000px works too */
    overflow: hidden;
    /*padding: 5px;*/
}
/* The 'hidden' state to transition from & to */
.body.ui-animate {
    opacity: 0;
    max-height: 0;
    padding: 0 5px;
}

.left {
    /*position:relative;*/
    left:-50px;
}

.right {
    /*position:relative;*/
    left:50px;
}

.slv {
    z-index:1;
}

.skt {
    z-index:2;
}

.nek {
    z-index:3;
}

.trm {
    z-index:4;
}

.ext {
     z-index:4;
 }

.blt {
    z-index:5;
}
.collection.image{
    width: 270px;
    height: 550px;
    text-align: center;
}

.pic {

    position:absolute;
    /*height: 550px;*/
    /*float:left;*/

    left:25%;
    width:200px;
    /*height:350px;*/
    opacity:1;
}

.adminHeader {

    background-color: #f0faff;
    /*position: relative;*/
    /*float:left;*/

    /*left:100px;*/
    /*width:200px;*/
    /*height:205px;*/
    margin:0;
    padding:0;
    opacity:1;
    /*border:solid;*/
    /*border-color: #a2a8bf;*/
    /*border-width:1px;*/
}


.adminPic {

    position: relative;
    float:left;

    /*left:100px;*/
    width:200px;
    /*height:205px;*/
    margin:0;
    padding:0;
    opacity:1;
    border:solid;
    border-color: #a2a8bf;
    border-width:1px;

}

/*.adminPic.slv {*/
    /*z-index:1;*/
/*}*/

/*.adminPic.skt {*/
    /*z-index:2;*/
/*}*/

/*.adminPic.nek {*/
    /*z-index:3;*/
    /*height:117px;*/
    /*top: -30px;*/
/*}*/

/*.adminPic.trm {*/
    /*z-index:4;*/
/*}*/

/*.adminPic.ext {*/
    /*z-index:4;*/
/*}*/

/*.adminPic.blt {*/
    /*z-index:5;*/
/*}*/

.overview.blurb {
    height: 50px;
    text-align: left;
}

.overview.price {
    text-align: right;
}
.overview.image {
    width: 270px;
    height: 350px;
    text-align: center;
}
.overview.buttons {
    height: 25px;
    text-align: center;
}

.selector.option {
    /*position:absolute;*/
    /*left:550px;*/
    height: 30px;
    width: 40px;
    margin:5px;
    /*background: #92cc64;*/
}

.selector.view {
    height: 80px;
    width: 50px;
}

.tab-info {
    font-size: 12px;
}

.logo {
    /*font-family: 'Aclonica', sans-serif;*/
    font-family: 'Krona One', sans-serif;
    font-size: 30px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}
.logo.custom {
    font-family: 'Nothing You Could Do', cursive;
}

.teal-headers {
    font-family: 'Krona One', sans-serif;
}

.handwriting {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 16px;
}

.main-text {
    font-family: 'Arimo', sans-serif;
}
.top-border {
    border-top-style:solid;
    border-color:#98bf21;
    border-width:5px;
}

.top-divider {
    border-top-style:solid;
    border-color: #262626;
    border-width:2px;
}

.top-border-small {
    border-top-style:solid;
    border-color:#98bf21;
    border-width:2px;
}

.top-border-mini {
    border-top-style:solid;
    border-color: #262626;
    border-width:1px;
}

.fabric-group {
    /*background: #dce7ff;*/
    border-style:solid;
    border-color:#98bf21;
    border-width:1px;
    margin-top:10px;
    margin-bottom:10px;
}

.fabric-header {
    font-size: 10px;
    margin-bottom:-5px;
    margin-bottom:-5px;
}

.selector.option.fabric001{
    background: #101010;
}

.selector.option.fabric002{
    background: #7e7e7e;
}
/* s-vc: viscose crepe */
.selector.option.fabric003{
    background: #c10050;
}
.selector.option.fabric004{
    background: #a4006a;
}
.selector.option.fabric005{
    background:#1d587c;
}
.selector.option.fabric006{
    background: #1d597f;
}
.selector.option.fabric007{
    background: #85796e;
}
.selector.option.fabric008{
    background: #dfcdb7;
}
.selector.option.fabric009{
    background:#0d759e;
}
.selector.option.fabric010{
    background: #3ec4b8;
}
.selector.option.fabric011{
    background: #101010;
}
.selector.option.fabric012{
    background: #7e7e7e;
}
.selector.option.fabric013{
    background:#002195;
}
/* p-sk: Silk */
.selector.option.fabric080{
    background: #262626;
}
.selector.option.fabric081{
    background: #e1dcd4;
}
.selector.option.fabric083{
    background: #c1b2a4;
}
.selector.option.fabric085{
    background: #56c1bb;
}
.selector.option.fabric086{
    background: #676767;
}
.selector.option.fabric087{
    background: #1a21ab;
}
.selector.option.fabric088{
    background: #d04893;
}
.selector.option.fabric089{
    background: #e04854;
}
/* x-fl: faux-leather */
.selector.option.fabric120{
    background: #4b4b4b;
}
.selector.option.fabric121{
    background: #d7cfbf;
}
.selector.option.fabric122{
    background: #bab0ac;
}
.selector.option.fabric123{
    background: #726053;
}
/* x-sq: Sequins */
.selector.option.fabric135{
    background: #101010;
}
.selector.option.fabric136{
    background: #85796e;
}
.selector.option.fabric137{
     background: #e4eef4;
}
.selector.option.fabric138{
    background: #fbfbff;
}
/* x-pt: Polyester Trim*/
.selector.option.fabric160{
    background: #c10050;
}
.selector.option.fabric161{
    background: #a4006a;
}
.selector.option.fabric162{
    background:#1d587c;
}
.selector.option.fabric164{
    background: #85796e;
}
.selector.option.fabric165{
    background: #dfcdb7;
}
.selector.option.fabric167{
    background: #3ec4b8;
}
.selector.option.fabric168{
    background: #101010;
}
.selector.option.fabric169{
    background: #7e7e7e;
}

.design_radio_option {

}

.design_radio_colour {

}

.design_check_option {

}

.design_check_colour {

}

.silhouette{
    text-align: center;
}
.silhouette.header {
    font-size: 35px;
    height: 40px;
}
.silhouette.description {
    font-size: 18px;
    height: 30px;

}
.silhouette.category {
    font-size: 25px;
    height: 50px;
    /*text-align: right;*/
    vertical-align: bottom;
    left:50px;
}

.builder.tabs {
     background: #dce7ff;
 }

.align-left {
    text-align: left;
}

.align-center {
   text-align: center;
}

.align-right{
    text-align: right;
}

.builder.option {
    background: #dbeaf6;
    height: 100px;
    width: 100px;
    margin:8px;
    padding: 4px;
}

.option.active {
    /*background: #f683b0;*/
    border-style: ridge;
    border-color: #bf4b46;
    border-width: 5px;
    border-style: ridge;
    /*padding: -10px;*/

}

/*font-family: 'Arimo', sans-serif;*/
/*font-family: 'La Belle Aurore', cursive;*/
/*font-family: 'Aclonica', sans-serif;*/
/*font-family: 'Krona One', sans-serif;*/
/*font-family: 'Nothing You Could Do', cursive;*/
/*font-family: 'Arizonia', cursive;*/
/*font-family: 'Dancing Script', cursive;*/




ol.carousel-indicators {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    text-align: center;
}

ol.carousel-indicators  li{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    /*background: #ddd;*/
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
    float: left;

}

/*ol.carousel-indicators li:hover{*/
    /*background: #eee;*/
/*}*/

/*ol.carousel-indicators li:hover:before{*/
    /*transform: rotate(360deg);*/
/*}*/

ol.carousel-indicators li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #dce6ec;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

ol.carousel-indicators li.active:before{
    background: #87ceeb;
}

.centeredImage
{
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
}

.teamText {
    vertical-align:middle;
}

.teamText.right {
    text-align:right;
}

.teamText.left {
    text-align:left;
}

.optionHelp {
    display:none;
}

/*.new_logo_box {*/
    /*background: #474747;*/
    /*background: rgba(215,68,78,.5);*/
/*}*/

/*.new_logo {*/
    /*font-family: 'Leckerli One', cursive;*/
    /*font-size: 50px;*/
    /*padding-top:10px;*/
    /*padding-left:10px;*/
    /*padding-bottom:10px;*/
    /*color: #222;*/
    /*color: #9c1414;*/
    /*font-weight:bold;*/
    /*text-shadow: 0px 2px 3px #666;*/
    /*text-shadow: 4px 4px 0px rgba(255,255,255,.8), 10px 10px 0px rgba(187,187,187,0.5);*/
    /*display: inline-block;*/
    /*-webkit-transition: all 0.2s ease-out*/
/*}*/

/*.new_logo2 {*/
    /*font-family: 'Days One', sans-serif;*/
    /*font-size: 60px;*/
    /*padding-top:10px;*/
    /*padding-left:10px;*/
    /*padding-bottom:10px;*/
    /*color: #222;*/
    /*color: #fff;*/
    /*font-weight:bold;*/
    /*text-shadow: 0px 2px 3px #666;*/
    /*text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);*/
    /*display: inline-block;*/
    /*-webkit-transition: all 0.2s ease-out*/
/*}*/
