/*@import url('./fonts/balham.css') screen;*/

/* http://stackoverflow.com/questions/4267415/using-true-type-fonts-in-web-applications/4558100#4558100
  Font embedding can be a bit complicated due to browser compatibility issues. For example:
    Safari only supports SVG fonts.
    IE only supports .eot, which must first be converted from .ttf */
/*@font-face {*/
    /*font-family: 'Balham';*/
    /*src: url('fonts/Balham/stylesheet.css');*/
/*}*/

.logo {
    padding-top: 1.5%;
    /*padding-bottom: 1.5%;*/
    font-family: 'Balham', Helvetica, Arial, sans-serif;
    font-size: 80px;
}
.sub-title {
    /*padding-bottom: 0%;*/
    /*font-family: 'Balham', Helvetica, Arial, sans-serif;*/
    font-weight: 200;
    font-size: 18px;
}

.dict.box {
    padding: .5%;
    background-color: #eee;
    border-color: white;
    border-style: double;
    border-width: 10px;
}

p.dict {
    text-align: left
}

p.dict.word {
    padding-top: 1.5%;
    /*font-size: 24px;*/
    line-height: 20px;
}

p.dict.type {
    font-weight: 200;
    /*font-size: 24px;*/
    line-height: 5px;
}

p.dict.def {
    font-weight: 200;
    font-size: 18px;
    /*line-height: 30px;*/
}

.faux-vid {
    /*border:3px;*/
    /*border-style:double;*/
    border-color: #eee;
    padding: 0.5%;
    /*background-color: #eee;*/
    /*border-color: white;*/
    border-style: solid;
    border-width: 3px;
    /*background-image:;*/
}

p.tags {
    font-weight: 200;
    font-size: 16px;
    padding-bottom: -20px;
}

.right-align {
    text-align: right;
}

.left-align {
    text-align: left;
}

.center-align {
    text-align: center;
}

.steps {
    text-align: center;
}



img.centre {
    display: block;
    margin: 0 auto;
}

.pledges {
    /*background-color: #343434;*/
    /*background-color: #533;*/
    /*background-color: #454;*/
    background-color: #899;
    /*background-color: #244;*/
    /*background-color: #666;*/
    padding: 1% 0%;
}

.pledge {
    padding: 5%;
}

.pledge .amount {
    /*padding: 0%;*/
    margin: 0%;
    font-size: 16px;
    font-weight: 800;
}

.pledge .backers {
    margin: 0%;
    font-size: 12px;
    font-weight: 800;
}

.pledge .desc {
    margin: 0%;
    font-size: 14px;
    /*font-weight: 800;*/
}