/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:1a51bc6e00db9cf27e5f20cbdc92225f$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.db-icons-sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../images/db-icons-sprite.png);}

.blt-002 {width:75px; height:75px; background-position: -308px -77px}
.blt-003 {width:75px; height:75px; background-position: -231px -77px}
.blt-004 {width:75px; height:75px; background-position: -154px -77px}
.ext-001 {width:75px; height:75px; background-position: -77px -77px}
.ext-002 {width:75px; height:75px; background-position: -0px -77px}
.ext-003 {width:75px; height:75px; background-position: -1309px -0px}
.nek-001 {width:80px; height:80px; background-position: -164px -154px}
.nek-002 {width:80px; height:80px; background-position: -82px -154px}
.nek-003 {width:80px; height:80px; background-position: -0px -154px}
.nek-004 {width:81px; height:81px; background-position: -1324px -159px}
.nek-009 {width:81px; height:81px; background-position: -1159px -159px}
.nek-010 {width:81px; height:81px; background-position: -1076px -159px}
.nek-013 {width:81px; height:81px; background-position: -993px -159px}
.nek-014 {width:81px; height:81px; background-position: -910px -159px}
.nek-015 {width:81px; height:81px; background-position: -827px -159px}
.nek-016 {width:81px; height:81px; background-position: -744px -159px}
.nek-017 {width:81px; height:81px; background-position: -661px -159px}
.nek-018 {width:81px; height:81px; background-position: -578px -157px}
.skt-011 {width:75px; height:75px; background-position: -1232px -0px}
.skt-012 {width:75px; height:75px; background-position: -1155px -0px}
.skt-014 {width:75px; height:75px; background-position: -1078px -0px}
.skt-021 {width:75px; height:75px; background-position: -1001px -0px}
.skt-022 {width:75px; height:75px; background-position: -924px -0px}
.skt-024 {width:75px; height:75px; background-position: -847px -0px}
.skt-031 {width:75px; height:75px; background-position: -770px -0px}
.skt-032 {width:75px; height:75px; background-position: -693px -0px}
.skt-034 {width:75px; height:75px; background-position: -616px -0px}
.skt-051 {width:75px; height:75px; background-position: -539px -0px}
.skt-052 {width:75px; height:75px; background-position: -462px -0px}
.skt-071 {width:75px; height:75px; background-position: -385px -0px}
.skt-072 {width:75px; height:75px; background-position: -308px -0px}
.skt-091 {width:75px; height:78px; background-position: -615px -77px}
.skt-092 {width:75px; height:78px; background-position: -538px -77px}
.skt-095 {width:75px; height:75px; background-position: -231px -0px}
.skt-101 {width:73px; height:77px; background-position: -385px -77px}
.skt-103 {width:76px; height:77px; background-position: -460px -77px}
.slv-000 {width:81px; height:81px; background-position: -495px -157px}
.slv-001 {width:80px; height:80px; background-position: -1266px -77px}
.slv-002 {width:80px; height:80px; background-position: -1184px -77px}
.slv-006 {width:80px; height:80px; background-position: -1102px -77px}
.slv-007 {width:80px; height:80px; background-position: -1020px -77px}
.slv-008 {width:80px; height:80px; background-position: -938px -77px}
.slv-009 {width:80px; height:80px; background-position: -856px -77px}
.slv-011 {width:81px; height:81px; background-position: -412px -156px}
.slv-012 {width:81px; height:81px; background-position: -329px -156px}
.slv-013 {width:80px; height:80px; background-position: -774px -77px}
.slv-014 {width:80px; height:80px; background-position: -692px -77px}
.slv-015 {width:80px; height:81px; background-position: -1242px -159px}
.slv-016 {width:81px; height:81px; background-position: -246px -154px}
.trm-nek {width:75px; height:75px; background-position: -154px -0px}
.trm-skt {width:75px; height:75px; background-position: -77px -0px}
.trm-slv {width:75px; height:75px; background-position: -0px -0px}
