.container {
    z-index: 0;
}

.img-container {
    text-align:right;
    margin:40px 0 0 0;
}

.dress-img{
    /*max-height:80%;*/
    max-height:90%;
    text-align:right;
    margin-left: auto;
    margin-right: auto;
}

.holding {
    margin-top: 30px;
}

.aurza-logo {
    text-align: center;
    font-size:60px;
    font-family: "Balham";
    padding-top:10px;
    margin-bottom: 40px;
    border-top-style: solid;
    border-bottom-style: solid;
}

ul{
    text-align: center;
    list-style-type: none;
    margin:0;
    padding:0;
}

.strapline {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.36);
    /*text-shadow: 2px 2px #ff0000;*/
    margin-bottom:10px;
}

.description {
    font-size: 18px;
    margin-left: 0;
    margin-bottom: 30px;
}

.punchline {
    text-align: center;
    font-size: 25px;
    list-style-type: none;
    margin-bottom:10px;
    color: rgba(0, 0, 0, 0.36);
}

.diy {
    font-size: 18px;
    margin-bottom:20px;
}

div.info-box {
    /*position: absolute;*/
    /*top:40px;*/
    width:100%;
    background-color: #eee;
    /*background-color: transparent;*/
    border-style: solid;
    border-color: #eee;
    border-width: 10px;
    margin-bottom: 40px;
    position: relative;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    padding:30px;
}

.info-box:before,
.info-box:after {
    content: '';
    z-index: -11;
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 70%;
    max-width: 300px;  /*avoid rotation causing ugly appearance at large container widths*/
    max-height: 100px;
    height: 55%;
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    -webkit-transform: skew(-15deg) rotate(-6deg);
    -moz-transform: skew(-15deg) rotate(-6deg);
    -ms-transform: skew(-15deg) rotate(-6deg);
    -o-transform: skew(-15deg) rotate(-6deg);
    transform: skew(-15deg) rotate(-6deg);
}

.info-box:after {
    left: auto;
    right: 20px;
    -webkit-transform: skew(15deg) rotate(6deg);
    -moz-transform: skew(15deg) rotate(6deg);
    -ms-transform: skew(15deg) rotate(6deg);
    -o-transform: skew(15deg) rotate(6deg);
    transform: skew(15deg) rotate(6deg);
}

/* Adjusting Launchrock widget */

#content.LR-content {
    min-height: 0px;
    z-index: 100;
    top:85%;
    width:100%;
}

.launch-widget .LR-box-wrapper {
    padding: 0;
    margin:0;
    margin-left:20px;
    width:100%;
}

.LR-sign-up .LR-sign-up-container {
    width:345px;
}

#content.LR-content.LR-sharing-page {
    /*min-height: 0px;*/
    z-index: 100;
    top:20%;
    width:80%;
    margin:0 10%;
}

#content .LR-site-share {
    /*min-height: 0px;*/
    /*z-index: 100;*/
    top:60%;
    /*width:100%;*/
}

input[type='email'].LR-sign-up-input.signup-email,
input[type='submit'].LR-sign-up-submit {
    height: 40px;
}

#bg {
    display: none;
}

/*@media screen and (min-width: 601px) {*/
    /*.small {*/
        /*display: none;*/
    /*}*/
/*}*/

@media screen and (max-width: 992px) {

    .large {
        display:none;
    }

    body {
        background-color:transparent;
    }

    .aurza-logo {
        font-size:40px;
        font-family: "Balham";
        padding-top:10px;
        margin-bottom: 0;
        border-top-style: solid;
        border-bottom-style: solid;
        background-color: #FFFFFF;
        width:100%
    }

    .holding {
        margin-top: 45px;
    }


    .holding .strapline,
    .punchline {
        color:#ffffff;
        text-shadow: 1px 1px #000000;
        font-size: 30px;
    }

    .description, .diy {
        color: #aeaeae;
        text-shadow: 1px 1px #000000;
        font-size: 14px;
        margin-bottom: 60px;
    }

    div.info-box {
        position: absolute;
        top: 75px;
        background-size:  100%;
        min-height:100%;
        border-style: none;
        border-width: 0;
        margin-bottom:0;
        background-color: transparent;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding-top:75px;
    }

    .LR-sign-up .LR-sign-up-container {
        width:260px;
    }

    input[type="email"].LR-sign-up-input.signup-email {
        width:200px;
    }

    .img-container {
        display: none;
    }

    #bg {
        width: 100%;
        display: block;
    }
    #bg img {
        position: relative;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        min-width: 50%;
        min-height: 50%;
    }

    .info-box:before,
    .info-box:after {
        /*content: '';*/
        /*z-index: -11;*/
        /*position: absolute;*/
        left: 20px;
        bottom: 90px;
    }

    .info-box:after {
        left: auto;
        right: 20px;
        -webkit-transform: skew(15deg) rotate(6deg);
        -moz-transform: skew(15deg) rotate(6deg);
        -ms-transform: skew(15deg) rotate(6deg);
        -o-transform: skew(15deg) rotate(6deg);
        transform: skew(15deg) rotate(6deg);
    }

}
@media screen and (max-width: 556px) {
    .aurza-logo {
        font-size:28px;
        padding:6px 0 0 0 ;
    }

    div.info-box {
        padding:0px;
    }

    .description {
        margin-bottom: 20px;
    }

    .launch-widget {
        /*position: fixed;*/
        /*bottom: -100px;*/
        z-index: 100;
    }

    .holding .strapline,
    .punchline {
        font-size: 20px;
    }

    #content.LR-content {
        /*min-height: 0px;*/
        /*z-index: 100;*/
        top:75%;
        /*width:100%;*/
    }
}

