/* Large desktop */
@media (min-width: 980px) {
    body {
        padding-top: 60px;
    }

    .linediv-l {
        border-right: 1px white solid;
    }

    .linediv-r {
        border-left: 1px white solid;
    }

    .linediv-b {
        border-bottom: 1px white solid;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .copy {
        padding: 2.5% 10%;
    }

    .linediv-l {
        border-bottom: 1px white solid;
    }

    .linediv-r {
        border-top: 1px white solid;
    }
}

/* All form factors */

/* Main body and headings */
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.heading, .subheading {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    text-align: center;
}

p.lead {
    padding-top: 2%;
    padding-bottom: 0%;
    font-size: 24px;
    line-height: 24px;
}

p {
    font-size: 18px;
    line-height: 24px;
}

/* Video pitch and Action */
.pitch {
    padding: .5% 0% 0% 0%;
}

.order {
    padding: 2% 0%;
}

.actions {
    /*background-color: #343434;*/
    /*background-color: #533*/
    /*background-color: #454;*/
    /*background-color: #899;*/
    /*background-color: #244;*/
    background-color: #666;
    padding: 1% 0%;
}

.video, .thermometer, .order, .social{
    text-align: center;
}

.statistics {
    text-align: left;
}

.statistics h1, .statistics p {
    color: white;
    margin-bottom:0%;
}

.statistics .label {
    margin-bottom:5%;
    text-align: center;
    /*padding-bottom:0%;*/
}

.thermometer.progress {
    margin:5% 0;
}

.btn-pledge {
    margin-bottom:10%;
}


/* Marketing Copy and Footer */
.copy {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    text-align: justify;
}

.asset {
    padding: 2.5% 0%;
}

.footer {
    color: #cccccc;
    text-align: center;
}

.footer p {
    font-size: 11px;
}

.footer a {
    color: #ccccff;
}